@import 'normalize.css';

html{
    font-size: 62,5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serfi';
    font-size: 1.2rem;
    line-height: 1.5rem ;
}