.Nav{
    width:100%;
}

.wrapper-header{
    height: 120px;
    display: flex;
    justify-content: center;
}

.top-link{
    margin-top: 4px;
    text-align: center;
}

.inner{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}
.inner-flex{
    display: flex;
}

.top-navigation{
    height:29.6px;
    background-color: #00483d;
}

.container-header{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.logo{
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    z-index: 5;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:29.6px;

}

.menu-header li a{
    list-style: none;
    color: #fff;
    margin-right: 5px;
    font-size: 0.9rem;
    padding: 8px;
    &:hover{
        color: #7fd6cb;
        cursor: pointer;
    }
}

.menu-header li button{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 0.9rem;
    padding: 8px;
    &:hover{
        color: #7fd6cb;
        cursor: pointer;
    }
}

.text{
    text-align: left;
    display: block;
    margin-left: 40px;
    font-size: .9rem;
}

.border{
    background-color: #fff;
    display: flex;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px #ccc;
}

input{
    border: none;
    outline: none;
    padding: 7px 0;
    width: 669px;
    font-weight: bold;
}

.search-btn{
    background-color: #00483d;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
}

.order-tools{

    display: flex;
    width: 220px;
    vertical-align: top;
    padding-left: 25px;
    justify-content: center;
    align-items: center;
}
.btnCheckOrder{
    width: 150px;
    display: block;
    background: #00483e;
    border-radius: 10px;
    padding: 6px 8px;
    box-shadow: 0 4px 6px #ccc;
    color: #fff;
    border: none;
    font-size: 12px;
    width: 110px;
    position: relative;
}


.icon{
    font-size: 30px;
    position: absolute;
    left: 8px;
    top:14px;
}

.cart{
    margin-top: 2px;
    margin-left: 10px;
}

.icon-cart{
    font-size: 38px;
    color: #00483e;
}

.btn-login{
    height: 29.6px;
    background-color: #00483d;
    border: none;
    color:#fff;
}

.content-login{
    margin:0 auto;
}

.body-login{
    display: flex;
}

.social-login{
    display: flex;
    margin-bottom: 8%;
}

.btn-loginfb{
    padding:10px;
    background-color: #4267b2;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
}
.btn-logingg{
    padding:10px;
    background-color: #4385f5;
    color: #fff;
    border-radius: 5px;
}

.form-login{
    margin-top: 4%;
}

.form-group+.form-group{
    margin-top: 8px;
}

.btn-signIn{
    width: 240px;
    height: 40px;
    margin-right: 15px;
    background-color: #00483d;
    color:#fff;
    border-radius: 5px;
}

.btn-register{
    width: 228.32px;
    height: 40px;
    background-color: #fff;
    color:#333;
    border-radius: 5px;
    border: 1px solid #00483d;
}
.forget-password{
    display: flex;
    justify-content: flex-end;
}

.content-register{
    margin:0 auto;
}

.form-register .form-group input{
    width: 300px;
    border-radius: 50px;
    background-color: #e5e5e5;
}


.form-register .form-group .form-group .controls .radio-ctn {
    margin-right: 30px;
    margin-top: 5px;
}

.form-group .controls .radio-ctn input{
    width:23.2px;
    height: 23.2px;
}

.form-group .controls .radio-ctn span strong {
    display: block;
    margin-top: -30px;
    color: #858585;
    font-style: italic;
    margin-left: 40px;
}

.form-register .form-group{
    display: flex;
}

.form-register .form-group label{
    width: 140px;
    font-size: 13px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-right: 30px;
    padding: 8px 0;
}

.content-register .content{
    text-align: center;
}

.createRegister{
    display: flex;
    justify-content: center;
}

.btn-create-register{
    width: 256px;
    height: 40px;
    background-color: #0d7b6b;
    color:#fff;
    border-radius: 5px;
    border: 1px solid #00483d;
    &:hover{
        background-color: #00483d;
        cursor: pointer;
    }
}

.controls-sex{
    display: flex;
}
.result-list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    padding-left: 5px;
    overflow-y: scroll;
}
.result-list h5{
    margin-left: 10px;
}