.titlePhoneHot a{
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    float: right;
    font-size: 13px;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
}

.titlePhoneHot a:not(:last-child){
    margin-right: 10px;
}

.FlashSale{ 
    margin-top: 35px;
    background-color: #009981;
    height: 427px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.headerFlashSale{
    margin: 0 10px 10px 10px;
}

.timeFlashSale strong{
    padding: 10px;
    margin: 0 2px;
    border-radius: 5px;
    background-color: #333;
    color: #f3f4f6;
}

.bodyFlashSale{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.col-brand{
    justify-content: flex-start;
}

#logo{

   flex-wrap: wrap;
   width: 1200px;
}

.border-logo-brand{
    margin:3px;
    background-color: #fff;
    display: flex;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    
}

.border-logo-brand img{
    border: 1px solid gray;
    border-radius: 10px;
    height: 3rem;
    width:6rem;
}

.logo-brand{
    width:80px;
}

.bodyFlashSale .card{
    height: 21rem;
    border-radius:30px;
}

.contentPhoneHot .card{
    width: 14.62rem;
    margin-right: 8.1px;
}

.PhoneLike span{
    color: #777;
    font-size: 12px;
    margin-right: 4px;
    margin-top: 2px;
}