.titleSoSanh{
    text-transform: uppercase;
    line-height: 140%;
    color: #222;
    margin-bottom: 20px;
}

.icon-add{
    display: flex;
    align-items: center;
    margin: auto;
    height: 60px;
}

.subicon-add{
    width: 50px;
    height:50px;
}

.btn-nextSoSanh{
    &:hover{
        background-color: #009981;
        color:#fff;
    }
}